{% extends "@Template/exception.html.twig" %}
{% block title %}An Error Occurred: {{ status_text }}{% endblock %}
{% block body %}

    <h1>Ooops... <strong>{{ status_code }}</strong><br>{{ status_text }}</h1>
    <p class="lead">Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.</p>
    <a href="https://jira.typo3.com/servicedesk/customer/portal/2" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-light">
        <span class="btn-icon">
            <i class="fas fa-bug"></i>
        </span>
        <span class="btn-text">
            Send Error-Report
        </span>
    </a>
    <a href="/" class="btn btn-success btn-lg my-2">
        <span class="btn-icon">
            <i class="fas fa-home"></i>
        </span>
        <span class="btn-text">
            Home
        </span>
    </a>

{% endblock %}
