parameters:

services:
  _defaults:
    public: false
    autowire: true
    autoconfigure: true

  T3G\Bundle\TemplateBundle\:
    resource: '../../../src/'
    exclude:
      - '../../../src/DependencyInjection/'
      - '../../../src/Tests/'

  T3G\Bundle\TemplateBundle\Twig\Extension\GlobalVariablesExtension:
    arguments: ["%t3g.template.config%"]
    tags:
      - name: twig.extension

  T3G\Bundle\TemplateBundle\Twig\Extension\AutolinkExtension:
    tags:
      - name: twig.extension

  T3G\Bundle\TemplateBundle\Twig\Extension\AvatarExtension:
    tags:
      - name: twig.extension

  T3G\Bundle\TemplateBundle\Twig\Extension\BlockExtension:
    tags:
      - name: twig.extension

  T3G\Bundle\TemplateBundle\Twig\Extension\DateTimeExtension:
    tags:
      - name: twig.extension

  T3G\Bundle\TemplateBundle\Twig\Extension\IconExtension:
    tags:
      - name: twig.extension

  T3G\Bundle\TemplateBundle\Twig\Extension\MarkdownExtension:
    tags:
      - name: twig.extension

  T3G\Bundle\TemplateBundle\Twig\Extension\TemplateExtension:
    tags:
      - name: twig.extension

  T3G\Bundle\TemplateBundle\Twig\Extension\TextExtension:
    tags:
      - name: twig.extension

  T3G\Bundle\TemplateBundle\Menu\MenuBuilder:
    class: "%t3g.template.config.menu.class%"
    tags:
      - name: "knp_menu.menu_builder"
        method: "mainDefault"
        alias: "main-default"
        priority: 20
      - name: "knp_menu.menu_builder"
        method: "mainProfile"
        alias: "main-profile"
        priority: 20
      - name: "knp_menu.menu_builder"
        method: "mainFooter"
        alias: "main-footer"
        priority: 20
