//
// Page Alert
//
.alert-pagegroup-container {
    position: relative;
    @include make-container();
    @include make-container-max-widths();
    overflow: visible;
    height: 0;
    margin: 0 auto;
    z-index: $zindex-popover;
}
.alert-pagegroup {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    .alert {
        border: 0;
        margin: 10px 0;
        padding: 0;
        border-radius: 4px;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, .25);
        &:not(.alert-danger) {
            background-color: #ffffff;
            color: color-contrast(#ffffff);
        }
        &:first-child {
            margin-top: 1.75rem;
        }
    }
    .alert-inner {
        position: relative;
        display: flex;
        padding: $alert-padding-y 0;
    }
    .alert-icon {
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        padding: $alert-padding-y * 1.25 0;
        text-align: center;
        width: 3.25rem;
        color: inherit;
        &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            content: '';
            display: block;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }
        i {
            position: relative;
            z-index: 1;
        }
    }
    @each $color, $value in $theme-colors {
        .alert-#{$color} {
            .alert-icon {
                color: color-contrast($value);
            }
            .alert-icon:before {
                background-color: $value;
            }
        }
    }
    .alert-message {
        padding-left: 3.25rem;
        padding-right: 3.5rem;
    }
}

//
// Alert Group
//
.alert-group {
    border: 0;
    .alert {
        position: relative;
        margin: 0;
        border: 0;
    }
    .alert + .alert:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgba(255, 255, 255, .2);
    }
}

//
// Alert
//
.alert {
    small {
        opacity: .5;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
