//
// Buttons
//
.btn:not(.btn-link) {
    display: inline-flex;
    letter-spacing: .5px;
    text-transform: uppercase;
    &:not(:focus) {
        box-shadow: $box-shadow-sm;
    }
    .input-group & {
        box-shadow: none;
    }
}
.btn-input-group-clear {
    background-color: #e9e9e9;
    border-color: $input-border-color;
    &:hover {
        background-color: darken(#e9e9e9, 5%);
    }
    .input-group .form-control:placeholder-shown ~ & {
        display: none;
    }
}
