//
// Buttons
//
.btn:not(.btn-link) {
    display: inline-flex;
    letter-spacing: .5px;
    text-transform: uppercase;
    box-shadow: $box-shadow-sm;
    .input-group & {
        box-shadow: none;
    }
}
.btn-icon {
    & + .btn-text {
        padding-left: 0.5rem;
    }
}
.btn-text {
    & + .btn-icon {
        padding-left: 0.5rem;
    }
}
.btn-icon-right {
    .btn-icon {
        & + .btn-text {
            padding-right: 0.35rem;
            padding-left: 0;
        }
        order: 2;
    }
}
