//
// Variables
//
$card-title-size:  1.35rem !default;
$card-subtitle-size: 1.25rem !default;
$card-link-color: $link-color !default;
$card-link-hover-color: $link-hover-color !default;


//
// Card
//
.card {
    color: color-yiq($card-bg);
    overflow: hidden;
    box-shadow: $box-shadow-sm;
    margin-bottom: $spacer * 2;

    a[class=""] {
        color: $card-link-color;
        @include hover {
            color: $card-link-hover-color;
        }
    }

    .datatable {
        margin-bottom: 0;
    }
}
.card-header,
.card-body {
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
.card-header {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    padding: $card-spacer-y $card-spacer-x;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.card-img-top {
    overflow: hidden;
    picture,
    img {
        width: 100%;
        height: auto;
    }
}
.card-footer {
    padding: $card-spacer-y $card-spacer-x;
    .datatable + & {
        border-top: 1px solid rgba(0,0,0,0.15);
    }
    .pagination {
        margin-bottom: 0;
    }
    .card-body + & {
        border-top: none;
        padding-top: 0;
        background-color: transparent;
    }
}
.card-button {
    border: none;
    padding: $card-spacer-y $card-spacer-x;
}
.card-body + .card-body {
    border-top: 1px solid rgba(0,0,0,0.15);
}
.card-datatable {
    flex-grow: 1;
    & + .card-footer {
        border-top: 1px solid rgba(0,0,0,0.15);
    }
}


//
// Header Bar
//
.card-header-bar {
    @include media-breakpoint-up('sm') {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        display: flex;
        align-items: center;
        > * {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            > *:first-child {
                margin-top: 0;
            }
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.card-header-icon {
    position: relative;
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
    @include media-breakpoint-up('sm') {
        width: 3rem;
        height: auto;
        margin-bottom: 0;
    }
    flex-shrink: 0;
    font-size: 2rem;
    opacity: 0.75;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.card-header-title {
    flex-grow: 1;
    overflow: hidden;
}
.card-header-actions {
    margin-left: auto;
    flex-shrink: 0;
}
.card-header-form {
    > form {
        margin-bottom: 0.5rem;
    }
    > form > div {
        display: flex;
        margin: -0.25rem;
    }
    .form-group {
        padding: 0.25rem;
        margin: 0;
    }
}


//
// Card Group Element
//
.card-group-element {
    margin: -$card-deck-margin;
    margin-bottom: -$card-deck-margin !important;
    display: flex;
    flex-wrap: wrap;
}
.card-group-element-item {
    width: 100%;
    padding: $card-deck-margin;
    .card {
        height: 100%;
    }
    .card-title {
        font-size: $card-title-size;
    }
    .card-subtitle {
        font-size: $card-subtitle-size;
        margin-bottom: $card-spacer-y;
    }
    .card-footer {
        border-top: 0;
        padding: $card-spacer-x;
        background-color: transparent;
    }
    .card-body + .card-footer {
        padding-top: 0;
    }
}
.card-group-element-align-left {
    justify-content: flex-start;
}
.card-group-element-align-center {
    justify-content: center;
}
.card-group-element-align-right {
    justify-content: flex-end;
}
.card-group-element-columns-2 {
    .card-group-element-item {
        @include media-breakpoint-up('sm') {
            width: calc(100% / 2);
        }
    }
}
.card-group-element-columns-3 {
    .card-group-element-item {
        @include media-breakpoint-up('md') {
            width: calc(100% / 3);
        }
    }
}
.card-group-element-columns-4 {
    .card-group-element-item {
        @include media-breakpoint-up('sm') {
            width: calc(100% / 2);
        }
        @include media-breakpoint-up('xl') {
            width: calc(100% / 4);
        }
    }
}


//
// Dashboard
//
.card-deck-dashboard {
    .card {
        margin-bottom: $card-deck-margin * 2;
        flex-grow: 1;
        @include media-breakpoint-up('sm') {
            min-width: calc(100% - #{$card-deck-margin} * 2);
        }
        @include media-breakpoint-up('md') {
            min-width: calc(50% - #{$card-deck-margin} * 2);
        }
        @include media-breakpoint-up('lg') {
            min-width: calc(33.33% - #{$card-deck-margin} * 2);
        }
    }
}


//
// Boxed
//
.card-deck-boxed {
    .card {
        margin-bottom: $card-deck-margin * 2;
        @include media-breakpoint-up('sm') {
            min-width: calc(100% - #{$card-deck-margin} * 2);
        }
        @include media-breakpoint-up('md') {
            min-width: calc(50% - #{$card-deck-margin} * 2);
        }
        @include media-breakpoint-up('lg') {
            min-width: calc(33.33% - #{$card-deck-margin} * 2);
        }
    }
}


//
// Grid
//
.card-grid {
    display: grid;
    grid-column-gap: $card-deck-margin;
    grid-row-gap: $card-deck-margin;
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;

    .card {
        margin: 0;
    }
}
.card-grid[data-grid-columns="2"] {
    @include media-breakpoint-up('md') {
        grid-template-columns: 1fr 1fr;
    }
}
.card-grid[data-grid-columns="3"] {
    @include media-breakpoint-up('md') {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up('lg') {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.card-grid[data-grid-columns="4"] {
    @include media-breakpoint-up('md') {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up('lg') {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include media-breakpoint-up('xl') {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
