//
// Variables
//
$card-title-size:  1.35rem !default;
$card-subtitle-size: 1.25rem !default;
$card-link-color: $link-color !default;
$card-link-hover-color: $link-hover-color !default;

//
// Card
//
.card {
    color: color-contrast($card-bg);
    overflow: hidden;
    box-shadow: $box-shadow-sm;
    margin-bottom: $spacer * 2;
    border: none;
    a[class=""] {
        color: $card-link-color;
        &:hover {
            color: $card-link-hover-color;
        }
    }
    .datatable {
        margin-bottom: 0;
    }
}
.card-header,
.card-body {
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
.card-header {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1;
        display: flex;
        gap: .5rem;
        align-items: center;
    }
    padding: 1rem $card-spacer-x;
}
.card-img-top {
    overflow: hidden;
    picture,
    img {
        width: 100%;
        height: auto;
    }
}
.card-footer {
    padding: $card-spacer-y $card-spacer-x;
    .datatable + & {
        border-top: 1px solid rgba(0, 0, 0, .15);
    }
    .pagination {
        margin-bottom: 0;
    }
    .card-body + & {
        border-top: none;
        padding-top: 0;
        background-color: transparent;
    }
}
.card-button {
    border: none;
    padding: $card-spacer-y $card-spacer-x;
}
.card-body + .card-body {
    border-top: 1px solid rgba(0, 0, 0, .15);
}
.card-datatable {
    flex-grow: 1;
    & + .card-footer {
        border-top: 1px solid rgba(0, 0, 0, .15);
    }
}

//
// Alert
//
.card-alerts {
    .alert {
        padding: .75rem $card-spacer-x;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
    }
}

//
// Badge
//
.card-badge {
    font-size: $font-size-sm;
    line-height: 1;
    padding: .5rem $card-spacer-x;
    text-transform: uppercase;
    box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, .15);
}
.card-badge-top {
    margin: 0 auto;
    border-radius: 0 0 3px 3px;
}
.card-badge-bottom {
    margin: 0 auto;
    border-radius: 3px 3px 0 0;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .15);
}
@each $color, $value in $theme-colors {
    .card-badge-#{$color} {
        background-color: $value;
        color: color-contrast($value);
    }
}

//
// Sidepanel
//
.card-hassidebar {
    position: relative;
    padding-left: 2em;
    .card-sidebar {
        background-color: #fafafa;
        border-right: 1px dotted #dadada;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2em;
        span {
            text-transform: uppercase;
            letter-spacing: 1px;
            backface-visibility: hidden;
            white-space: nowrap;
            left: 1.8em;
            top: 1em;
            position: absolute;
            transform: rotate(90deg);
            transform-origin: left top 0;
        }
    }
    @each $color, $value in $theme-colors {
        .card-sidebar-#{$color} {
            border-right-color: shade-color($value, 25%);
            background-color: $value;
            color: color-contrast($value);
        }
    }
}

//
// Header Bar
//
.card-header-bar {
    display: flex;
    gap: $spacer / 2;
    flex-direction: column;
    @include media-breakpoint-up('sm') {
        flex-direction: row;
        align-items: center;
    }
}
.card-header-icon {
    position: relative;
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
    @include media-breakpoint-up('sm') {
        width: 3rem;
        height: auto;
        margin-bottom: 0;
    }
    flex-shrink: 0;
    font-size: 2rem;
    opacity: .75;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.card-header-title {
    flex-grow: 1;
    overflow: hidden;
    > * {
        margin-bottom: 0;
    }
}
.card-header-actions {
    flex-shrink: 0;
}
.card-header-form {
    flex-grow: 1;
    > form > div {
        display: flex;
        margin: -.25rem;
    }
    .form-group {
        padding: .25rem;
        margin: 0;
    }
}

//
// Card Group Element
//
.card-group-element {
    margin: -$card-group-margin;
    margin-bottom: -$card-group-margin !important;
    display: flex;
    flex-wrap: wrap;
}
.card-group-element-item {
    width: 100%;
    padding: $card-group-margin;
    .card {
        height: 100%;
    }
    .card-title {
        font-size: $card-title-size;
    }
    .card-subtitle {
        font-size: $card-subtitle-size;
        margin-bottom: $card-spacer-y;
    }
    .card-footer {
        border-top: 0;
        padding: $card-spacer-x;
        background-color: transparent;
    }
    .card-body + .card-footer {
        padding-top: 0;
    }
}
.card-group-element-align-left {
    justify-content: flex-start;
}
.card-group-element-align-center {
    justify-content: center;
}
.card-group-element-align-right {
    justify-content: flex-end;
}
.card-group-element-columns-2 {
    .card-group-element-item {
        @include media-breakpoint-up('sm') {
            width: calc(100% / 2);
        }
    }
}
.card-group-element-columns-3 {
    .card-group-element-item {
        @include media-breakpoint-up('md') {
            width: calc(100% / 3);
        }
    }
}
.card-group-element-columns-4 {
    .card-group-element-item {
        @include media-breakpoint-up('sm') {
            width: calc(100% / 2);
        }
        @include media-breakpoint-up('xl') {
            width: calc(100% / 4);
        }
    }
}

//
// Dashboard
//
.card-deck-dashboard {
    .card {
        margin-bottom: $card-group-margin * 2;
        flex-grow: 1;
        @include media-breakpoint-up('sm') {
            min-width: calc(100% - #{$card-group-margin} * 2);
        }
        @include media-breakpoint-up('md') {
            min-width: calc(50% - #{$card-group-margin} * 2);
        }
        @include media-breakpoint-up('lg') {
            min-width: calc(33.33% - #{$card-group-margin} * 2);
        }
    }
}

//
// Boxed
//
.card-deck-boxed {
    .card {
        margin-bottom: $card-group-margin * 2;
        @include media-breakpoint-up('sm') {
            min-width: calc(100% - #{$card-group-margin} * 2);
        }
        @include media-breakpoint-up('md') {
            min-width: calc(50% - #{$card-group-margin} * 2);
        }
        @include media-breakpoint-up('lg') {
            min-width: calc(33.33% - #{$card-group-margin} * 2);
        }
    }
}

//
// Grid
//
.card-grid {
    display: grid;
    grid-gap: $card-group-margin;
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
    .card {
        margin: 0;
    }
}
.card-grid[data-grid-columns="2"] {
    @include media-breakpoint-up('md') {
        grid-template-columns: 1fr 1fr;
    }
}
.card-grid[data-grid-columns="3"] {
    @include media-breakpoint-up('md') {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up('lg') {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.card-grid[data-grid-columns="4"] {
    @include media-breakpoint-up('md') {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up('lg') {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include media-breakpoint-up('xl') {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
