//
// Content Section
//
.content-section {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);
    @include media-breakpoint-up(sm) {
        padding-top: ($spacer * 3);
        padding-bottom: ($spacer * 3);
    }
    @include media-breakpoint-up(md) {
        padding-top: ($spacer * 4);
        padding-bottom: ($spacer * 4);
    }
    > .container,
    > .container-fluid {
        > *:last-child {
            margin-bottom: 0;
        }
    }
}
.content-section-smallest {
    padding-top: ($spacer * 1.5);
    padding-bottom: ($spacer * 1.5);
}
.content-section-small {
    @include media-breakpoint-up(sm) {
        padding-top: ($spacer * 2);
        padding-bottom: ($spacer * 2);
    }
}
.content-section-large {
    padding-top: ($spacer * 4);
    padding-bottom: ($spacer * 4);
    @include media-breakpoint-up(sm) {
        padding-top: ($spacer * 6);
        padding-bottom: ($spacer * 6);
    }
    @include media-breakpoint-up(md) {
        padding-top: ($spacer * 8);
        padding-bottom: ($spacer * 8);
    }
}
.content-section-none {
    padding: 0;
}
.content-section-centered {
    .container {
        max-width: 35rem;
    }
}
.content-section-centered-wide {
    .container {
        max-width: 55rem;
    }
}
.content-section-valign {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

//
// Spacer
//
.content-spacer {
    border: 0;
    margin-bottom: ($spacer * 1.5);
    @include media-breakpoint-up(sm) {
        margin-bottom: ($spacer * 2.5);
    }
    @include media-breakpoint-up(md) {
        margin-bottom: ($spacer * 3.5);
    }
}

//
// Color variations
//
@each $color, $value in $theme-colors {
    .bg-#{$color} {
        .btn-outline-inverse {
            border-color: inherit;
            color: inherit;
            &:hover {
                border-color: #ffffff;
                background-color: #ffffff;
                color: $value;
            }
        }
    }
}
