//
// Dashboard
//
$dashboard-shadow:  $box-shadow-sm;
$dashboard-bg: #ffffff;
$dashboard-border-radius: 4px;
$dashboard-color: #2d2d2d;
$dashboard-padding: 1.25rem;
$dashboard-gutter: 1rem;
$dashboard-list-hover-bg: #efefef;
$dashboard-list-hover-color: color-contrast($dashboard-list-hover-bg);
$dashboard-list-icon-show: '<svg viewBox="0 0 16 16"><g fill="#{$dashboard-color}"><path d="M9.586 8L6.05 11.536l.707.707L11 8 6.757 3.757l-.707.707z"/></g></svg>';
.dashboard {
    display: flex;
    flex-wrap: wrap;
    margin: -($dashboard-gutter / 2);
}
.dashboard-item {
    margin: $dashboard-gutter / 2;
    display: flex;
    flex-direction: column;
    border-radius: $dashboard-border-radius;
    color: $dashboard-color;
    background-color: $dashboard-bg;
    overflow: hidden;
    box-shadow: $dashboard-shadow;
}
.dashboard-item-title {
    font-size: 1.2rem;
    padding: $dashboard-padding;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    gap: .5rem;
    align-items: center;
    .icon {
        color: $primary;
    }
}
.dashboard-item-body {
    flex-grow: 1;
    padding: $dashboard-padding;
    > *:last-child {
        margin-bottom: 0;
    }
}
.dashboard-item-footer {
    padding: $dashboard-padding;
    padding-top: 0;
    > *:last-child {
        margin-bottom: 0;
    }
}
.dashboard-item-footer-link {
    color: inherit;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
    text-decoration: none;
    border-bottom: 1px dashed;
    &:hover {
        color: inherit;
        text-decoration: none;
        border-bottom-style: solid;
    }
}

//
// Widths
//
@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        @for $i from 1 through $grid-columns {
            .dashboard-item#{$infix}-w#{$i} {
                width: calc(100% / #{$grid-columns} * #{$i} - #{$dashboard-gutter});
            }
        }
    }
}

//
// Columns
//
.dashboard-item-row {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.dashboard-item-row-bordered {
    > .dashboard-item-col {
        box-shadow: 0 0 0 .5px rgba(0, 0, 0, .15);
    }
}
.dashboard-item-col {
    display: flex;
    flex-direction: column;
}
@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        @for $i from 1 through $grid-columns {
            .dashboard-item-col#{$infix}-w#{$i} {
                width: calc(100% / #{$grid-columns} * #{$i});
            }
        }
    }
}

//
// List
//
.dashboard-list {
    margin-left: -$dashboard-padding;
    margin-right: -$dashboard-padding;
    margin-bottom: 1rem;
}
.dashboard-list-entry {
    position: relative;
    display: flex;
    padding: ($dashboard-padding / 2) $dashboard-padding;
    padding-right: $dashboard-padding * 2.5;
    align-items: center;
    color: inherit;
    border-top: 1px solid #e0e3e4;
    line-height: 1.2;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 1rem;
        display: block;
        height: 16px;
        width: 16px;
        transform: translate(0, -50%);
        background-image: url(svg-inline($dashboard-list-icon-show));
    }
    &:nth-child(odd) {
        background-color: rgba(245, 245, 246, .5);
    }
    &:hover {
        text-decoration: none;
        border-top: 1px solid darken($dashboard-list-hover-bg, 5%);
        background-color: $dashboard-list-hover-bg;
        color: $dashboard-list-hover-color;
    }
    &:last-child {
        border-bottom: 1px solid #e0e3e4;
        &:hover {
            border-bottom: 1px solid darken($dashboard-list-hover-bg, 5%);
        }
    }
}
.dashboard-list-entry-icon {
    margin-right: .5rem;
}
.dashboard-list-entry-title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dashboard-list-entry-badge {
    margin-left: .5rem;
    .badge {
        vertical-align: middle;
    }
}

//
// Dashboard Actions
//
.dashboard-actions {
    margin-left: -$dashboard-padding;
    margin-right: -$dashboard-padding;
    margin-bottom: 1rem;
}
.dashboard-actions-entry {
    position: relative;
    display: flex;
    padding: $dashboard-padding;
    align-items: center;
    color: inherit;
    line-height: 1.2;
    &:nth-child(odd) {
        background-color: rgba(245, 245, 246, .5);
    }
    &:hover {
        text-decoration: none;
        color: $dashboard-list-hover-color;
    }
}
.dashboard-actions-entry-icon {
    margin-right: 1rem;
}
.dashboard-actions-entry-content {
    flex-grow: 1;
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
.dashboard-actions-entry-content-section {
    margin: .75rem 0;
}
.dashboard-actions-entry-title {
    font-size: 1rem;
    margin-bottom: 0;
}
.dashboard-actions-entry-subtitle {
    font-size: .85rem;
    margin-bottom: 0;
}
