//
// Form
//
.form-group {
    > label,
    > legend.col-form-label {
        &:not(.required):after {
            content: ' - Optional';
            font-style: italic;
            opacity: .5;
        }
    }
    margin-bottom: $spacer;
}
.form-headline {
    margin-bottom: $spacer * 1.5;
}
.form-buttons {
    margin-top: $spacer * 2.5;
    .btn + .btn {
        margin-left: .25rem;
    }
}
.form-buttons-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
}

//
// Inline
//
.form-inline,
.form-inline > div {
    display: flex;
    gap: calc(#{$spacer} / 2);
    flex-wrap: wrap;
    .form-group {
        display: flex;
        gap: calc(#{$spacer} / 4);
        align-items: center;
        margin: 0;
    }
    .form-label {
        margin-bottom: 0;
        &:after {
            display: none;
        }
    }
}

//
// Disabled
//
.form-group [disabled=disabled] {
    pointer-events: none;
    label {
        opacity: .5;
    }
    input[checked=checked] + label {
        opacity: 1;
    }
}

//
// Form Collection
//
[data-formtype="collection"] {
    > .form-group {
        border: 1px solid rgba(0, 0, 0, .15);
        padding: 1.5em;
        legend {
            width: auto;
            max-width: none;
            background-color: #f2f2f2;
            margin: -1.5em;
            margin-bottom: 1.5em;
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
        .btn {
            margin-top: 1rem;
        }
    }
    > .btn {
        margin-top: 1rem;
    }
}

//
// Form Check
//
.form-check-label-hascount {
    display: flex;
}
.form-check-label-title {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.form-check-label-count {
    flex-shrink: 0;
    margin-left: 1rem;
}

// Forms in Cards
.card-body {
    form {
        > div > .form-group:last-of-type {
            margin-bottom: 0;
        }
    }
}

// Corrections
label {
    *:last-child {
        margin-bottom: 0;
    }
}
