//
// Variables
// --------------------------------------------------
:root {
    --icongroup-gap: #{$grid-gutter-width};
    --icongroup-columns: 1;
    --icongroup-icon-color: #{$primary};
    --icongroup-icon-size: 40px;
    --icongroup-icon-gap: calc(var(--icongroup-gap) / 2);
}

//
// Component
// --------------------------------------------------
.icongroup {
    display: flex;
    flex-wrap: wrap;
    gap: var(--icongroup-gap);
}

//
// Alignment
// --------------------------------------------------
.icongroup-align-left {
    justify-content: flex-start;
}
.icongroup-align-center {
    justify-content: center;
}
.icongroup-align-right {
    justify-content: flex-end;
}

//
// Icon Position
// --------------------------------------------------
.icongroup-iconposition-left-top {
    .icongroup-item {
        align-items: flex-start;
    }
}
.icongroup-iconposition-left-center {
    .icongroup-item {
        align-items: center;
    }
}
.icongroup-iconposition-right-top {
    .icongroup-item {
        align-items: flex-start;
    }
    .icongroup-item-icon {
        order: 1;
    }
}
.icongroup-iconposition-right-center {
    .icongroup-item {
        align-items: center;
    }
    .icongroup-item-icon {
        order: 1;
    }
}
.icongroup-iconposition-above,
.icongroup-iconposition-below {
    .icongroup-item {
        flex-wrap: wrap;
    }
    .icongroup-item-text {
        width: 100%;
    }
    .icongroup-item-icon {
        margin-left: auto;
        margin-right: auto;
    }
}
.icongroup-iconposition-below {
    .icongroup-item-icon {
        order: 1;
    }
}

//
// Items
// --------------------------------------------------
.icongroup-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: calc((100% / var(--icongroup-columns)) - (var(--icongroup-gap) * (var(--icongroup-columns) - 1)) / var(--icongroup-columns));
    gap: var(--icongroup-icon-gap);
}
.icongroup-item-icon {
    flex-shrink: 0;
    font-size: var(--icongroup-icon-size);
    color: var(--icongroup-icon-color);
    width: var(--icongroup-icon-size);
    height: var(--icongroup-icon-size);
}
.icongroup-item-text {
    flex-grow: 1;
    > *:last-child {
        margin-bottom: 0;
    }
}
.icongroup-item-text-header {
    font-size: 1.25em;
    margin-bottom: .15em;
}
.icongroup-item-text-subheader {
    font-size: 1em;
}

//
// Columns
// --------------------------------------------------
.icongroup-columns-auto {
    .icongroup-item {
        width: auto;
    }
}
.icongroup-columns-2 {
    @include media-breakpoint-up('sm') {
        --icongroup-columns: 2;
    }
}
.icongroup-columns-3 {
    @include media-breakpoint-up('md') {
        --icongroup-columns: 3;
    }
}
.icongroup-columns-4 {
    @include media-breakpoint-up('sm') {
        --icongroup-columns: 2;
    }
    @include media-breakpoint-up('xl') {
        --icongroup-columns: 4;
    }
}
