//
// Listbox
//
.listbox {
    --listbox-color: var(--#{$prefix}card-color);
    --listbox-bg: var(--#{$prefix}card-bg);
    --listbox-header-color: var(--#{$prefix}card-color);
    --listbox-header-bg: color-mix(in srgb, var(--listbox-bg), black 2.5);
    --listbox-shadow: #{$box-shadow-sm};
    --listbox-padding: 1rem;
    --listbox-radius: 2px;
    border-radius: var(--listbox-radius);
    color: var(--listbox-color);
    background: var(--listbox-bg);
    overflow: hidden;
    box-shadow: var(--listbox-shadow);
    display: flex;
    flex-direction: column;
}
.listbox-small {
    font-size: $font-size-sm;
    line-height: 1.25;
}
.listbox-header {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--listbox-padding) / 2) var(--listbox-padding);
    color: var(--listbox-header-color);
    background: var(--listbox-header-bg);
    a,
    a:hover {
        font-weight: bold;
        color: inherit;
    }
    a:hover {
        text-decoration: underline;
    }
}
.listbox-header-title,
.listbox-header-title a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listbox-header-count {
    opacity: .5;
    flex-shrink: 0;
    margin-left: .25rem;
}
.listbox-entries {
    flex-grow: 1;
    padding: calc(var(--listbox-padding) / 2) 0;
}
.listbox-item {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--listbox-padding) / 4) var(--listbox-padding);
}
.listbox-item-name {
    flex-grow: 1;
    a,
    a:hover {
        color: inherit;
    }
    a:hover {
        text-decoration: underline;
    }
}
.listbox-item-name,
.listbox-item-name a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listbox-item-badge {
    flex-shrink: 0;
    margin-left: .25rem;
}
