// Bubble
ul.list-bubble {
    padding-left: 0;
    list-style: none;
    counter-reset: listStyle;
    > li {
        position: relative;
        padding-left: 2.25em;
        counter-increment: listStyle;
    }
    > li + li {
        margin-top: 1em;
    }
    > li:before {
        position: absolute;
        text-align: center;
        font-weight: bold;
        line-height: 1.5em;
        font-size: 1em;
        left: 0;
        top: 0;
        height: 1.5em;
        width: 1.5em;
        border-radius: 50%;
        background-color: #eaeaea;
        content: counter(listStyle, decimal);
    }
}
ul.list-bubble-alpha {
    > li:before {
        content: counter(listStyle, upper-alpha);
    }
}

// Size
ul.list-lead {
    @include media-breakpoint-up('md') {
        font-size: 1.2em;
    }
}

// Special
ul.list-normal,
ul.list-times,
ul.list-check,
ul.list-info,
ul.list-link {
    padding: 0;
    margin-bottom: 1.5em;
    list-style: none;
    > li {
        clear: both;
        position: relative;
        padding-left: 1.5em;
        margin: .5em 0;
        line-height: 1.35em;
        &:first-child {
            margin-top: 0;
        }
        &:before {
            display: block;
            content: '';
            float: left;
            margin-left: -1.5em;
            width: 1em;
            height: 1.25em;
            background-size: 1em 1em;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
}
$list-icons: (
    'normal': '<svg viewBox="0 0 288 512"><path d="M144 144c61.9 0 112 50 112 112 0 61.9-50 112-112 112-61.9 0-112-50-112-112 0-61.9 50-112 112-112m0-32C64.5 112 0 176.5 0 256s64.5 144 144 144 144-64.5 144-144-64.5-144-144-144z"/></svg>',
    'times': '<svg viewBox="0 0 320 512"><path fill="#{$danger}" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"/></svg>',
    'check': '<svg viewBox="0 0 448 512"><path fill="#{$success}" d="M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z"/></svg>',
    'info': '<svg viewBox="0 0 512 512"><path fill="#{$info}" d="M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-36 344h12V232h-12c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h48c6.627 0 12 5.373 12 12v140h12c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12h-72c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12zm36-240c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z"/></svg>',
    'link': '<svg viewBox="0 0 512 512"><path d="M301.148 394.702l-79.2 79.19c-50.778 50.799-133.037 50.824-183.84 0-50.799-50.778-50.824-133.037 0-183.84l79.19-79.2a132.833 132.833 0 0 1 3.532-3.403c7.55-7.005 19.795-2.004 20.208 8.286.193 4.807.598 9.607 1.216 14.384.481 3.717-.746 7.447-3.397 10.096-16.48 16.469-75.142 75.128-75.3 75.286-36.738 36.759-36.731 96.188 0 132.94 36.759 36.738 96.188 36.731 132.94 0l79.2-79.2.36-.36c36.301-36.672 36.14-96.07-.37-132.58-8.214-8.214-17.577-14.58-27.585-19.109-4.566-2.066-7.426-6.667-7.134-11.67a62.197 62.197 0 0 1 2.826-15.259c2.103-6.601 9.531-9.961 15.919-7.28 15.073 6.324 29.187 15.62 41.435 27.868 50.688 50.689 50.679 133.17 0 183.851zm-90.296-93.554c12.248 12.248 26.362 21.544 41.435 27.868 6.388 2.68 13.816-.68 15.919-7.28a62.197 62.197 0 0 0 2.826-15.259c.292-5.003-2.569-9.604-7.134-11.67-10.008-4.528-19.371-10.894-27.585-19.109-36.51-36.51-36.671-95.908-.37-132.58l.36-.36 79.2-79.2c36.752-36.731 96.181-36.738 132.94 0 36.731 36.752 36.738 96.181 0 132.94-.157.157-58.819 58.817-75.3 75.286-2.651 2.65-3.878 6.379-3.397 10.096a163.156 163.156 0 0 1 1.216 14.384c.413 10.291 12.659 15.291 20.208 8.286a131.324 131.324 0 0 0 3.532-3.403l79.19-79.2c50.824-50.803 50.799-133.062 0-183.84-50.802-50.824-133.062-50.799-183.84 0l-79.2 79.19c-50.679 50.682-50.688 133.163 0 183.851z"/></svg>'
);
@each $name, $icon in $list-icons {
    .list-#{$name} {
        > li:before {
            background-image: url(svg-inline($icon));
        }
    }
}
