//
// Navbar Heights
//
$navbar-heights: (
    xs: 70px,
    sm: 70px,
    md: 70px,
    lg: 95px,
    xl: 95px
) !default;
.navbar-mainnavigation {
    .navbar-brand {
        @each $breakpoint in map-keys($navbar-heights) {
            @include media-breakpoint-up($breakpoint) {
                height: map-get($navbar-heights, $breakpoint);
            }
        }
    }
}

//
// Navbar
//
@mixin make-navbar-breakpoint() {
    padding-top: 0;
    padding-bottom: 0;
    .navbar-collapse,
    .container {
        align-items: stretch;
    }
    .navbar-collapse {
        padding-bottom: 0;
    }
    .navbar-nav {
        margin-left: auto;
        &:first-child:not(:last-child) {
            margin-left: 0;
        }
        &:last-child {
            .nav-item:last-child {
                .dropdown-menu {
                    right: 0;
                    left: auto;
                    &:before {
                        left: auto;
                        right: 0;
                        transform: translate(-1.1rem, -100%);
                    }
                }
            }
        }
    }
    .navbar-brand,
    .nav-link {
        line-height: 2rem;
    }
    .nav-item {
        align-items: center;
        display: flex;
        .btn {
            margin-left: .55rem;
        }
    }
    .dropdown-menu {
        margin-top: -1.5rem;
        &:before {
            content: '';
            position: absolute;
            border: 9px solid transparent;
            border-bottom-color: #ffffff;
            top: 0;
            left: 0;
            transform: translate(1.1rem, -100%);
            filter: drop-shadow(0 -1px 0 #bbbbbb);
        }
    }
}
.navbar-breakpoint-md {
    @extend .navbar-expand-md;
    @include media-breakpoint-up(md) {
        @include make-navbar-breakpoint();
        .nav-item-divider {
            margin-left: .5rem;
            margin-right: .5rem;
            &:before {
                height: 1.5em !important;
                width: 1px !important;
            }
        }
        .dropdown-toggle:after {
            display: none;
        }
    }
}
.navbar-breakpoint-lg {
    @extend .navbar-expand-lg;
    @include media-breakpoint-up(lg) {
        @include make-navbar-breakpoint();
        .nav-item-divider {
            margin-left: .5rem;
            margin-right: .5rem;
            &:before {
                height: 1.5em !important;
                width: 1px !important;
            }
        }
        .dropdown-toggle:after {
            display: none;
        }
    }
}
.nav-link {
    width: 100%;
    white-space: nowrap;
    gap: .5rem;
    display: flex;
    align-items: center;
}
.nav-item {
    &.active {
        > .nav-link {
            .nav-item-label {
                border-bottom: 1px dashed $primary;
            }
        }
    }
}

//
// Mainnavigation
//
.navbar-mainnavigation {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15);
    .nav-item-divider {
        margin-top: .5rem;
        margin-bottom: .5rem;
        &:before {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            background-color: rgba(0, 0, 0, .15);
        }
    }
}
.navbar-collapse {
    padding-bottom: 1.25rem;
}

//
// Item
//
.nav-item-icon,
.nav-item-image,
.nav-item-label {
    display: inline-block;
    vertical-align: middle;
}
.nav-item-image {
    img {
        display: block;
    }
}
.nav-item-label {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

//
// Brand
//
.navbar-brand {
    padding: 0;
    display: flex;
    align-items: center;
}
.navbar-brand-image {
    display: block;
    img {
        margin-top: -6px;
        display: block;
    }
}

//
// Toggler
//
.navbar-toggler {
    padding: 0;
    margin-left: -6px;
    margin-right: -6px;
    height: 34px;
    width: 34px;
    position: relative;
    border: 0;
    &:focus {
        outline: 0;
    }
}
.navbar-toggler-icon:after,
.navbar-toggler-icon,
.navbar-toggler-icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: none !important;
    display: inline-block;
    width: 22px;
    height: 2px;
    background-color: currentColor;
    transition: all .3s ease-in;
}
.navbar-toggler-icon {
    top: 50%;
    left: 50%;
    height: 0;
    transform: translate(-50%, -50%);
}
.navbar-toggler-icon:before {
    transition-delay: .1s;
    transform: rotate(-45deg);
    top: 0;
}
.navbar-toggler-icon:after {
    transition-delay: .1s;
    transform: rotate(45deg);
    top: 0;
}
.navbar-toggler[aria-expanded="false"] {
    .navbar-toggler-icon {
        transition-delay: .2s;
        height: 2px;
    }
    .navbar-toggler-icon:before {
        transition-delay: 0;
        transform: rotate(0);
        top: -6px;
    }
    .navbar-toggler-icon:after {
        transition-delay: 0;
        transform: rotate(0);
        top: 6px;
    }
}

//
// Dropdown
//
.dropdown-toggle:after {
    display: inline-block;
    margin-left: auto;
    vertical-align: .255em;
    content: "";
    border-top: .25em solid;
    border-right: .25em solid transparent;
    border-bottom: 0;
    border-left: .25em solid transparent;
}
.dropdown-item {
    display: flex;
    gap: .5rem;
    align-items: center;
}
