//
// Page
//
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-header {
    flex-grow: 0;
    flex-shrink: 0;
}

.page-main {
    background-color: #eaeaea;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page-footer {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
}

.page-footer-copyright,
.page-footer-menu {
    display: inline-block;
    vertical-align: middle;
    padding: 0.25rem 0.5rem;
}

.page-footer-copyright {
    a {
        color: inherit;
    }
}

.page-footer-menu {
    .navbar-nav {
        display: inline-block;
    }
    .nav-item {
        display: inline-block;
        padding: 0 0.5rem;
    }
    .nav-link {
        opacity: 0.5;
        padding: 0;
        color: inherit;
        &:focus,
        &:hover {
            opacity: 0.75;
        }
    }
}
