//
// Pricing
//
$pricing-padding: 1.5rem;
$pricing-border-radius: .5rem;
.pricing-grid {
    position: relative;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.pricing-grid-item {
    position: relative;
    width: 230px;
}
.pricing {
    padding: ($pricing-padding * 1.25) $pricing-padding;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    border-radius: $pricing-border-radius;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 0 .5rem 1rem rgba($black, 0);
    transition: box-shadow ease-in-out .2s, background-color ease-in-out .2s;
    gap: $pricing-padding;
    &:hover,
    &[data-active="true"] {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 .5rem 1rem rgba($black, .15);
    }
}
.pricing-image {
    overflow: hidden;
    margin: -$pricing-padding;
    margin-top: -($pricing-padding * 1.5);
    margin-bottom: 0;
    border-top-left-radius: $pricing-border-radius;
    border-top-right-radius: $pricing-border-radius;
}
.pricing-header {
    text-align: center;
}
.pricing-header-title {
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.25;
}
.pricing-header-subtitle {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.25;
    opacity: .75;
    margin-bottom: 0;
}
.pricing-content {
    font-size: 75%;
    text-align: center;
    flex-grow: 1;
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
.pricing-items {
    text-align: center;
}
.pricing-item {
    line-height: 1;
    .pricing-item-price {
        font-weight: bold;
        &[data-currency]:before {
            margin-right: .2em;
            font-size: .75em;
            opacity: .75;
            content: attr(data-currency);
        }
    }
    .pricing-item-addition,
    small {
        display: block;
        margin-top: .25rem;
        font-size: .75rem;
        opacity: .75;
    }
    + .pricing-item {
        margin-top: .5rem;
    }
}
.pricing-item-main {
    font-size: 1.5em;
}
.pricing-item-secondary {
    font-size: 1.1em;
}
.pricing-footer {
    text-align: center;
}
.pricing-select {
    display: flex;
    min-height: 38px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.pricing-select-button {
    @extend .btn;
    @extend .btn-primary;
    font-size: .875rem;
    border-radius: 1.25rem;
}
.pricing-select-current {
    line-height: 1.25;
    display: inline-block;
    color: $success;
}
