//
// Pricing
//
.pricing-grid {
    position: relative;
    display: flex;
    gap: $spacer;
    flex-wrap: wrap;
    justify-content: center;
}
.pricing-grid-item {
    position: relative;
    width: 230px;
}
.pricing {
    padding: $card-spacer-y $card-spacer-x;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    border: $card-border-width solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-bg;
    box-shadow: $card-box-shadow;
    transition: box-shadow ease-in-out .2s, background-color ease-in-out .2s;
    gap: $card-spacer-y;
    &:hover,
    &[data-active="true"] {
        box-shadow: $box-shadow;
    }
}
.pricing-image {
    overflow: hidden;
    margin: -1.5rem;
    margin-top: -2.25rem;
    margin-bottom: 0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.pricing-header {
    text-align: center;
}
.pricing-header-title {
    font-size: $h4-font-size;
    font-weight: $headings-font-weight;
    line-height: 1.25;
}
.pricing-header-subtitle {
    font-size: $h5-font-size;
    font-weight: normal;
    line-height: 1.25;
    opacity: .75;
    margin-bottom: 0;
}
.pricing-content {
    font-size: $font-size-sm;
    text-align: center;
    flex-grow: 1;
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
.pricing-items {
    text-align: center;
}
.pricing-product-wrapper + .pricing-product-wrapper,
.pricing-option-wrapper + .pricing-option-wrapper {
    margin-top: $spacer * .5;
}
.pricing-item {
    line-height: 1;
    .pricing-item-price {
        font-weight: $font-weight-bold;
        &[data-currency]:before {
            margin-right: .2em;
            font-size: .75em;
            opacity: .75;
            content: attr(data-currency);
        }
    }
    .pricing-item-addition,
    small {
        display: block;
        margin-top: .25rem;
        font-size: .75rem;
        opacity: .75;
    }
    + .pricing-item {
        margin-top: .5rem;
    }
}
.pricing-item-main {
    font-size: 1.5em;
}
.pricing-item-secondary {
    font-size: 1.1em;
}
.pricing-footer {
    text-align: center;
}
.pricing-select {
    display: flex;
    min-height: 38px;
    flex-direction: column;
    gap: $spacer * .5;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.pricing-select-button {
    @extend .btn;
    @extend .btn-primary;
    font-size: .875rem;
}
.pricing-select-current {
    line-height: 1.25;
    display: inline-block;
    color: $success;
}
.pricing-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pricing-option-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: $spacer * .5;
}
.pricing-option-setup {
    display: flex;
    flex-direction: column;
}
.pricing-option-main {
    display: flex;
    flex-direction: column;
    gap: $spacer * .25;
}
.pricing-option-price {
    display: flex;
    flex-direction: column;
    gap: $spacer * .125;
}
.pricing-option-setup .pricing-option-amount {
    font-size: $font-size-sm;
}
.pricing-option-amount {
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
    line-height: 1.1;
    color: $body-color;
}
.pricing-option-label,
.pricing-option-interval {
    font-size: $font-size-sm;
    color: $text-muted;
}
.pricing-option-current {
    display: inline-block;
    margin-top: $spacer * .25;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    color: $primary;
    text-transform: uppercase;
}
.pricing-option-muted {
    .pricing-option-amount {
        color: $text-muted;
    }
}
.pricing-option-selector {
    @extend .visually-hidden;
}
.pricing-option-radio {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    accent-color: $primary;
}
