//
// Review
//
$review-shadow: $box-shadow-sm;
$review-bg: #ffffff;
$review-border-radius: 2px;
$review-color: color-yiq($review-bg);
$review-margin: $spacer;
$review-padding: 1rem;

.review {
    border-left: 5px solid darken($review-bg, 20%);
    position: relative;
    border-radius: $review-border-radius;
    color: $review-color;
    background-color: $review-bg;
    overflow: hidden;
    box-shadow: $review-shadow;
    margin-bottom: $review-margin;
}
@each $color, $value in $review-colors {
    .review-type-#{$color} {
        border-left-color: $value;
    }
}
.review-header {
    display: flex;
    padding: 1rem $review-padding;
    background-color: darken($review-bg, 2.5%);
}
.review-issue {
    padding-right: .25rem;
}
.review-branch {
    padding-left: .25rem;
    .badge {
        display: block;
    }
}
.review-title {
    flex-grow: 1;
    word-break: break-word;
    a {
        color: inherit;
        font-weight: bold;
    }
}
.review-note {
    font-size: $font-size-sm;
    padding: .25rem $review-padding;
    text-align: center;
    text-transform: uppercase;
    background-color: darken($review-bg, 2.5%);
}
@each $color, $value in $theme-colors {
    .review-note-#{$color} {
        background-color: $value;
        color: color-yiq($value);
    }
}
.review-data {
    border-top: 1px dashed rgba(0,0,0,.15);
    font-size: $font-size-sm;
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.review-data-item {
    padding: 1px $review-padding;
    display: flex;
    width: 50%;
    min-width: 200px;
    flex-grow: 1;
}
.review-data-item-label {
    flex-grow: 1;
}
.review-data-item-value {
    font-weight: bold;
}
.review-actions {
    border-top: 1px dashed rgba(0,0,0,.15);
    padding: .75rem $review-padding;
}


//
// Small
//
.review-card {
    .review-header {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .review-title {
        font-size: 1rem;
        width: 100%;
        order: 1;
    }
}
