//
// Review
//
$review-bg: #ffffff;
$review-color: color-contrast($review-bg);
$review-margin: $spacer * 2;
$review-padding: 1rem;
.review {
    container-type: inline-size;
    border-left: 5px solid darken($review-bg, 20%);
    position: relative;
    border-radius: $border-radius;
    color: $review-color;
    background-color: $review-bg;
    overflow: hidden;
    box-shadow: $card-box-shadow;
    margin-bottom: $review-margin;
}
@each $color, $value in $review-colors {
    .review-type-#{$color} {
        border-left-color: $value;
    }
}
.review-header {
    display: flex;
    gap: calc(#{$spacer} / 2);
    padding: 1rem $review-padding;
    background-color: darken($review-bg, 2.5%);
}
.review-issue {
    font-size: $h5-font-size-responsive;
}
.review-branch {
    .badge {
        display: block;
    }
}
.review-title {
    flex-grow: 1;
    font-size: $h5-font-size-responsive;
    word-break: break-word;
    a {
        color: inherit;
        font-weight: bold;
    }
}
.review-note {
    font-size: $font-size-sm;
    padding: .25rem $review-padding;
    text-align: center;
    text-transform: uppercase;
    background-color: darken($review-bg, 2.5%);
}
@each $color, $value in $theme-colors {
    .review-note-#{$color} {
        background-color: $value;
        color: color-contrast($value);
    }
}
.review-data {
    border-top: 1px dashed rgba(0, 0, 0, .15);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.review-data-item {
    padding: 1px $review-padding;
    display: flex;
    width: 50%;
    min-width: 200px;
    flex-grow: 1;
}
.review-data-item-label {
    flex-grow: 1;
}
.review-data-item-value {
    font-weight: bold;
}
.review-actions {
    border-top: 1px dashed rgba(0, 0, 0, .15);
    padding: .75rem $review-padding;
}

//
// Small
//
.review-card {
    .review-header {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .review-title {
        width: 100%;
        order: 1;
    }
}

@container (max-width: 720px) {
    .review-header,
    .review-actions {
        padding-left: calc(#{$review-padding} * .75);
        padding-right: calc(#{$review-padding} * .75);
    }

    .review-data-item {
        padding-left: calc(#{$review-padding} * .75);
        padding-right: calc(#{$review-padding} * .75);
    }
}

@container (max-width: 520px) {
    .review-data,
    .review-note {
        font-size: $font-size-sm;
        line-height: 1.25;
    }

    .review-card {
        .review-issue,
        .review-title {
            font-size: 1rem;
        }
    }
}
