//
// Syntax
//
$code-font-size: .875em;

code,
kbd,
pre,
samp {
    font-size: $code-font-size;
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: $code-font-size;
}

pre {
    border-radius: $border-radius;
}

.modal-content {
    pre[class*="language-"] {
        margin: 0;
    }
}
pre[class*="language-"] {
    padding: 1.5rem;
}
