//
// Text
//
.text-inherit {
    color: inherit !important;
    &:hover {
        color: inherit !important;
    }
}
.text-underline {
    text-decoration: underline;
}
.text-muted {
    color: inherit !important;
    opacity: .5;
}
