//
// Text
//
body {
    font-size: $font-size-base-responsive;
}
h1 {
    font-size: $h1-font-size-responsive;
    font-weight: 500;
}
h2 {
    font-size: $h2-font-size-responsive;
    font-weight: 500;
}
h3 {
    font-size: $h3-font-size-responsive;
}
h4 {
    font-size: $h4-font-size-responsive;
}
h5 {
    font-size: $h5-font-size-responsive;
}
h6 {
    font-size: $h6-font-size-responsive;
}
.text-inherit {
    color: inherit !important;
    &:hover {
        color: inherit !important;
    }
}
.text-underline {
    text-decoration: underline;
}
.text-muted {
    color: inherit !important;
    opacity: .5;
}
.page-main p a:not(.btn):not(.dropdown-item):not(.page-link):not(.card-footer-link):not(.dashboard-item-footer-link):not(.datatable-action),
.modal-body a:not(.btn):not(.dropdown-item):not(.page-link):not(.card-footer-link):not(.dashboard-item-footer-link):not(.datatable-action),
.dashboard-item-body a:not(.btn):not(.dropdown-item):not(.page-link):not(.card-footer-link):not(.dashboard-item-footer-link):not(.datatable-action) {
    text-decoration-line: underline;
    text-decoration-color: $primary;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    border-bottom: 0;
    font-weight: 500;
    transition: all .1s ease-in;
    &:hover,
    &:focus {
        text-decoration-color: currentColor;
    }
}
.page-main .frame[class*="frame-background-"] p a:not(.btn):not(.dropdown-item):not(.page-link):not(.card-footer-link):not(.dashboard-item-footer-link):not(.datatable-action) {
    color: var(--frame-link-color);
    text-decoration-line: underline;
    text-decoration-color: var(--frame-link-decoration-color);
    border-bottom: 0;
    &:hover,
    &:focus {
        color: var(--frame-link-hover-color);
        text-decoration-color: var(--frame-link-decoration-hover-color);
    }
}
.page-main .frame[class*="frame-background-"] .card-inverse p a:not(.btn):not(.dropdown-item):not(.page-link):not(.card-footer-link):not(.dashboard-item-footer-link):not(.datatable-action),
.page-main .card-inverse p a:not(.btn):not(.dropdown-item):not(.page-link):not(.card-footer-link):not(.dashboard-item-footer-link):not(.datatable-action) {
    color: $white;
    text-decoration-color: $white;
    border-bottom: 0;
    &:hover,
    &:focus {
        color: $white;
        text-decoration-color: $white;
    }
}
