//
// Year View
//
.yearview {
    + .yearview {
        margin-top: $spacer;
    }
}
.yearview-headline {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
.yearview-year {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
        "jan feb"
        "mar apr"
        "may jun"
        "jul aug"
        "sep oct"
        "nov dec";
    @include media-breakpoint-up('sm') {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas:
            "jan feb mar"
            "apr may jun"
            "jul aug sep"
            "oct nov dec";
    }
    @include media-breakpoint-up('md') {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-areas:
            "jan feb mar apr"
            "may jun jul aug"
            "sep oct nov dec";
    }
    @include media-breakpoint-up('lg') {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-areas:
            "jan feb mar apr may jun"
            "jul aug sep oct nov dec";
    }
    @include media-breakpoint-up('xl') {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-areas:
            "jan feb mar apr may jun jul aug sep oct nov dec";
    }
}
.yearview-month {
    overflow: hidden;
    .listbox {
        height: 100%;
    }
}
