//
// Colors
// -------------------------------------------------
$white:             #ffffff;
$gray-100:          #f2f2f2;
$gray-200:          #e9e9e9;
$gray-300:          #dedede;
$gray-400:          #cecece;
$gray-500:          #ababab;
$gray-600:          #6c6c6c;
$gray-700:          #494949;
$gray-800:          #363636;
$gray-900:          #292929;
$black:             #000000;

$blue:              #268bd9;
$indigo:            #5d4db3;
$purple:            #7f4db3;
$pink:              #bf4080;
$red:               #cc3d33;
$orange:            #ff8700;
$yellow:            #ffd500;
$green:             #6eb34d;
$teal:              #33cc9e;
$cyan:              #13abec;

$primary:           #ff8700;
$secondary:         #333333;
$tertiary:          $blue;
$quaternary:        $green;

$success:           #5cb85c;
$info:              #5bc0de;
$warning:           #f0ad4e;
$danger:            #d9534f;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    quaternary: $quaternary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    notice: #efefef,
    default: $white,
    light: $gray-200,
    dark: $gray-900,
    darkest: $black
);

$issue-colors: (
    default: $secondary,
    bug: $red,
    feature: $green,
    task: $blue,
    epic: $indigo,
    story: $yellow
);

$review-colors: (
    default: $secondary,
    bugfix: $danger,
    feature: $success,
    task: $info,
);

$status-colors: (
    new: #ae4a32,
    accepted: #d1c4b1,
    underreview: #8db173,
    onhold: #f38725,
    needsfeedback: #f38725,
    nextup: #7373b1,
    inprogress: #62c0dc,
    done: #696969
);

$progress-colors: (
    default: $secondary,
    blocked: $danger,
    open: $info,
    wip: $secondary,
    done: $success
);

$link-color:                    $primary;
$link-hover-color:              darken($link-color, 15%);
$link-alternate-color:          #ffffff;
$link-alternate-hover-color:    darken($link-alternate-color, 15%);

$min-contrast-ratio: 2.4;

//
// Grid breakpoints
// --------------------------------------------------
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

//
// Grid containers
// --------------------------------------------------
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

//
// Fonts
// --------------------------------------------------
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;
$font-weight-bold: 600;

$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: .8125rem;

$font-size-base:  1rem;
$font-size-lg:    $font-size-base * 1.25 !default;
$font-size-sm:    $font-size-base * .875 !default;

$headings-font-weight: $font-weight-bold;
$headings-margin-bottom: .5em;

//
// Links
// --------------------------------------------------
$link-decoration: none;

//
// Navbar
//
$navbar-border-radius: 0;

//
// Border Radius
//
$border-radius:             2px;
$border-radius-lg:          2px;
$border-radius-sm:          2px;

//
// Pagination
// --------------------------------------------------
$pagination-color:          #616161;
$pagination-hover-color:    #313131;

//
// Components
// --------------------------------------------------
$box-shadow-sm: 0 1px 2px 1px rgba(0, 0, 0, .15);

//
// Cards
// --------------------------------------------------
$card-border-width:         1px;
$card-border-radius:        4px;
$card-spacer-y:             1.25rem;
$card-spacer-x:             1.25rem;
$card-cap-bg:               rgba(0, 0, 0, .02);

//
// Table
// --------------------------------------------------
$table-bg:          $white;

//
// Grid
// --------------------------------------------------
$grid-gutter-width: 40px;

//
// Progress
// --------------------------------------------------
$progress-height:           2rem;
$progress-border-radius:    4px;

//
// Modal
// --------------------------------------------------
$modal-inner-padding:               1.5rem;
$modal-content-border-radius:       4px;

//
// Select
// --------------------------------------------------
$custom-select-bg-size:             16px 16px;
$custom-select-indicator-color:     $gray-800;
$custom-select-indicator:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 16'><path fill='#{$custom-select-indicator-color}' d='M10.852 9.059L8 11.911 5.166 9.077l-.707.707L8 13.325l3.559-3.559zM11.515 6.19L8 2.675 4.468 6.207l.707.707L8 4.089l2.808 2.808z'/></svg>");

//
// Choices
// --------------------------------------------------
$choices-font-size-lg: $font-size-base;
$choices-font-size-md: $font-size-base;
$choices-font-size-sm: $font-size-sm;
$choices-bg-color: #ffffff;
$choices-text-color: #494949;
$choices-keyline-color: #cecece;
$choices-primary-color: $primary;
$choices-border-radius: $border-radius;
