//
// Colors
// -------------------------------------------------
$white:             #ffffff;
$gray-100:          #f2f2f2;
$gray-200:          #e9e9e9;
$gray-300:          #dedede;
$gray-400:          #cecece;
$gray-500:          #ababab;
$gray-600:          #6c6c6c;
$gray-700:          #494949;
$gray-800:          #363636;
$gray-900:          #292929;
$black:             #000000;

$primary:           #ff8700;
$secondary:         #333333;
$success:           #5cb85c;
$info:              #5bc0de;
$warning:           #f0ad4e;
$danger:            #d9534f;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    notice: #efefef,
    default: $white,
    light: $gray-200,
    dark: $gray-900,
    darkest: $black
);

$issue-colors: (
    default: $secondary,
    bug: $danger,
    feature: $success,
    task: $info,
    epic: #6610f2,
    story: #ffc107
);

$review-colors: (
    default: $secondary,
    bugfix: $danger,
    feature: $success,
    task: $info,
);

$status-colors: (
    new: #AE4A32,
    accepted: #D1C4B1,
    underreview: #8DB173,
    onhold: #F38725,
    needsfeedback: #F38725,
    nextup: #7373b1,
    inprogress: #62C0DC,
    done: #696969
);

$progress-colors: (
    default: $secondary,
    blocked: $danger,
    open: $info,
    wip: $secondary,
    done: $success
);

$link-color:                    $primary;
$link-hover-color:              darken($link-color, 15%);
$link-alternate-color:          #ffffff;
$link-alternate-hover-color:    darken($link-alternate-color, 15%);

$yiq-contrasted-threshold:      160;

//
// Fonts
// --------------------------------------------------
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;
$font-weight-bold: 600;

$h1-font-size: 2em;
$h2-font-size: 1.75em;
$h3-font-size: 1.5em;
$h4-font-size: 1.25em;
$h5-font-size: 1em;
$h6-font-size: .85em;

$headings-font-weight: $font-weight-bold;
$headings-margin-bottom: .5em;

//
// Navbar
//
$navbar-border-radius: 0;

//
// Border Radius
//
$border-radius:             2px;
$border-radius-lg:          2px;
$border-radius-sm:          2px;

//
// Pagination
// --------------------------------------------------
$pagination-color:          #616161;
$pagination-hover-color:    #313131;

//
// Components
// --------------------------------------------------
$box-shadow-sm: 0 2px 2px 0 rgba(0, 0, 0, .15);

//
// Cards
// --------------------------------------------------
$card-border-width:         1px;
$card-spacer-y:             1.25rem;
$card-spacer-x:             1.25rem;

//
// Table
// --------------------------------------------------
$table-bg:          $white;

//
// Grid
// --------------------------------------------------
$grid-gutter-width: 40px;
