//
// Features
//
$enable-negative-margins: true;
$enable-shadows: true;

//
// Components
// --------------------------------------------------
$box-shadow-sm: 0 6px 11px rgba(0, 0, 0, 0.15);
$box-shadow-card:
    0 22px 10px rgba(0, 0, 0, 0.01),
    0 12px 8px rgba(0, 0, 0, 0.02),
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 0 3px rgba(0, 0, 0, 0.08);


//
// Colors
// -------------------------------------------------
$white:             #ffffff;
$gray-50:           shade-color($white, 5%);
$gray-100:          shade-color($white, 10%);
$gray-200:          shade-color($white, 20%);
$gray-300:          shade-color($white, 30%);
$gray-400:          shade-color($white, 40%);
$gray-500:          shade-color($white, 50%);
$gray-600:          shade-color($white, 60%);
$gray-700:          shade-color($white, 70%);
$gray-800:          shade-color($white, 80%);
$gray-900:          shade-color($white, 90%);
$black:             #000000;

$blue:              #268bd9;
$indigo:            #5d4db3;
$purple:            #7f4db3;
$pink:              #bf4080;
$red:               #cc3d33;
$orange:            #ED6D05;
$typo3orange:       #ff8700;
$yellow:            #ffd500;
$green:             #6eb34d;
$teal:              #33cc9e;
$cyan:              #13abec;

$primary:           #ED6D05;
$primary-dark:      shade-color($primary, 20%);
$primary-light:     tint-color($primary, 20%);

$secondary:         #333333;
$secondary-dark:    shade-color($secondary, 20%);
$secondary-light:   tint-color($secondary, 20%);

$tertiary:          #538bb3;
$tertiary-dark:     shade-color($tertiary, 20%);
$tertiary-light:    lighten($tertiary, 20%);

$quaternary:        #75a75a;
$quaternary-dark:   shade-color($quaternary, 20%);
$quaternary-light:  tint-color($quaternary, 20%);

$success:           #5cb85c;
$info:              #319fc0;
$warning:           #f0ad4e;
$danger:            #d9534f;

$light:             #e8e8e8;
$lighter:           #f5f5f5;
$dark:              $gray-800;
$darker:            $gray-900;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    quaternary: $quaternary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    notice: #efefef,
    default: $white,
    light: $light,
    lighter: $lighter,
    dark: $dark,
    darker: $darker
);

$issue-colors: (
    default: $secondary,
    bug: $red,
    feature: $green,
    task: $blue,
    epic: $indigo,
    story: $yellow
);

$review-colors: (
    default: $secondary,
    bugfix: $danger,
    feature: $success,
    task: $info,
);

$status-colors: (
    new: #ae4a32,
    accepted: #d1c4b1,
    underreview: #8db173,
    onhold: #f38725,
    needsfeedback: #f38725,
    nextup: #7373b1,
    inprogress: #62c0dc,
    done: #696969
);

$progress-colors: (
    default: $secondary,
    blocked: $danger,
    open: $info,
    wip: $secondary,
    done: $success
);

$link-color:                    $black;
$link-hover-color:              $gray-900;
$link-alternate-color:          #ffffff;
$link-alternate-hover-color:    darken($link-alternate-color, 15%);

$min-contrast-ratio: 2.4;
$spacer-responsive: clamp(0.75rem, calc(0.75rem + 0.625vw), 1.5625rem);

//
// Grid breakpoints
// --------------------------------------------------
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
);

//
// Grid containers
// --------------------------------------------------
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1440px
);

//
// Fonts
// --------------------------------------------------
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;
$font-weight-bold: 600;

$h1-font-size: 1.625rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.375rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: .8125rem;

$font-size-base-responsive: clamp(1rem, calc(0.9605rem + 0.1976vw), 1.125rem);
$h1-font-size-responsive: clamp(1.4375rem, calc(1.3489rem + 1.0087vw), 2.1887rem);
$h2-font-size-responsive: clamp(1.375rem, calc(1.3086rem + 0.7554vw), 1.938rem);
$h3-font-size-responsive: clamp(1.25rem, calc(1.1909rem + 0.6723vw), 1.75rem);
$h4-font-size-responsive: clamp(1.125rem, calc(1.1536rem + 0.5603vw), 1.62rem);
$h5-font-size-responsive: clamp(1rem, calc(1.0539rem + 0.3557vw), 1.35rem);
$h6-font-size-responsive: clamp(1rem, calc(0.9605rem + 0.1976vw), 1.125rem);

$font-size-base:  1rem;
$font-size-lg:    $font-size-base * 1.25 !default;
$font-size-sm:    $font-size-base * .875 !default;

$headings-font-weight: $font-weight-bold;
$headings-margin-bottom: .5em;

//
// Links
// --------------------------------------------------
$link-decoration: none;

//
// Navbar
//
$navbar-border-radius: 0;
$navbar-nav-link-padding-x: 0;

//
// Dropdown
// --------------------------------------------------
$dropdown-link-hover-bg: $gray-50;
$dropdown-padding-y: .125rem;
$dropdown-item-padding-y: .5rem;
$dropdown-box-shadow: $box-shadow-card;

//
// Border Radius
//
$border-radius:             .25rem;
$border-radius-sm:          .5rem;
$border-radius-lg:          1rem;

//
// Forms and Buttons
//
$input-btn-padding-y: 0.5625rem;
$input-btn-padding-x: 1rem;
$input-btn-font-size: 1.1875rem;
$input-btn-line-height: 1;
$input-btn-border-width: 0.125rem;
$input-btn-padding-y-sm: 0.375rem;
$input-btn-padding-x-sm: 0.75rem;
$input-btn-font-size-sm: 1rem;
$input-btn-line-height-sm: 1;
$input-btn-padding-y-lg: 0.75rem;
$input-btn-padding-x-lg: 1.25rem;
$input-btn-font-size-lg: 1.375rem;
$input-btn-line-height-lg: 1;

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;
$btn-border-width: $input-btn-border-width;
$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: 1.0625rem;
$btn-line-height-sm: $input-btn-line-height-sm;
$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;
$btn-line-height-lg: $input-btn-line-height-lg;
$btn-font-weight: 700;
$btn-box-shadow: unset;
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;
$btn-hover-bg-shade-amount: 0%;
$btn-hover-bg-tint-amount: 0%;
$btn-hover-border-shade-amount: 50%;
$btn-hover-border-tint-amount: 0%;
$btn-hover-shadow:
    0 25px 10px rgba(0, 0, 0, 0.01),
    0 14px 8px rgba(0, 0, 0, 0.05),
    0 6px 6px rgba(0, 0, 0, 0.09),
    0 2px 3px rgba(0, 0, 0, 0.1);

$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-x;
$input-font-size: $input-btn-font-size;
$input-line-height: $input-btn-line-height;
$input-padding-y-sm: $input-btn-padding-y-sm;
$input-padding-x-sm: $input-btn-padding-x-sm;
$input-font-size-sm: $input-btn-font-size-sm;
$input-padding-y-lg: $input-btn-padding-y-lg;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-font-size-lg: $input-btn-font-size-lg;
$input-border-width: $input-btn-border-width;
$input-border-radius: $border-radius-sm;
$input-border-radius-sm: $btn-border-radius-sm;
$input-border-radius-lg: $btn-border-radius-lg;

$form-select-padding-y: $input-padding-y;
$form-select-padding-x: $input-padding-x;
$form-select-font-size: $input-font-size;
$form-select-line-height: $input-line-height;
$form-select-border-width: $input-border-width;
$form-select-padding-y-sm: $input-padding-y-sm;
$form-select-padding-x-sm: $input-padding-x-sm;
$form-select-font-size-sm: $input-font-size-sm;
$form-select-padding-y-lg: $input-padding-y-lg;
$form-select-padding-x-lg: $input-padding-x-lg;
$form-select-font-size-lg: $input-font-size-lg;

$form-check-input-border-radius: $border-radius;

//
// Pagination
// --------------------------------------------------
$pagination-color:          #616161;
$pagination-hover-color:    #313131;

//
// Cards
// --------------------------------------------------
$card-border-width:         2px;
$card-border-radius:        $border-radius-lg;
$card-spacer-y:             1.25rem;
$card-spacer-x:             1.25rem;
$card-cap-bg:               rgba(0, 0, 0, .025);
$card-border-color:         rgba(0, 0, 0, .05);
$card-box-shadow:           $box-shadow-card;

//
// Alerts
// --------------------------------------------------
$alert-border-radius:       $border-radius-lg;

//
// Accordion
// --------------------------------------------------
$accordion-border-radius:        $border-radius-lg;
$accordion-inner-border-radius:  $accordion-border-radius;
$accordion-button-border-radius: $accordion-border-radius;

//
// List Group
// --------------------------------------------------
$list-group-border-radius:  $border-radius-lg;
$list-group-border-color:   $gray-50;
$list-group-hover-bg:       $gray-50;

//
// Table
// --------------------------------------------------
$table-bg:          $white;

//
// Grid
// --------------------------------------------------
$grid-gutter-width: 40px;

//
// Progress
// --------------------------------------------------
$progress-height:           2rem;
$progress-border-radius:    $border-radius-lg;
$progress-font-size:        $font-size-sm;

//
// Modal
// --------------------------------------------------
$modal-inner-padding:               1.5rem;
$modal-content-border-radius:       $border-radius-lg;

//
// Select
// --------------------------------------------------
$form-select-bg-position:           right .5rem center;
$form-select-bg-size:               16px 16px;
$form-select-indicator-color:       $gray-800;
$form-select-indicator:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='#{$form-select-indicator-color}' d='M10.852 9.059L8 11.911 5.166 9.077l-.707.707L8 13.325l3.559-3.559zM11.515 6.19L8 2.675 4.468 6.207l.707.707L8 4.089l2.808 2.808z'/></svg>");

//
// Choices
// --------------------------------------------------
$choices-font-size-lg: $font-size-base;
$choices-font-size-md: $font-size-base;
$choices-font-size-sm: $font-size-sm;
$choices-bg-color: #ffffff;
$choices-text-color: #494949;
$choices-keyline-color: #cecece;
$choices-primary-color: $primary;
$choices-border-radius: $border-radius-sm;
