// Variables
@import 'variables';

// Include Dependencies
@import '~bootstrap/scss/bootstrap';
@import '~prismjs/themes/prism-okaidia';

// Mixins
@import 'mixins/function';
@import 'mixins/svg';

// Modules
@import 'modules/text';
@import 'modules/page';
@import 'modules/section';
@import 'modules/navbar';
@import 'modules/alert';
@import 'modules/avatar';
@import 'modules/content';
@import 'modules/card';
@import 'modules/form';
@import 'modules/datatable';
@import 'modules/btn';
@import 'modules/message';
@import 'modules/fontawesome';
@import 'modules/syntax';
