// Variables
@import 'variables';

// Include Dependencies
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css';
@import '../../node_modules/prismjs/themes/prism-okaidia';
@import '../../node_modules/@typo3/icons/dist/icons.scss';
@import '../../node_modules/@typo3/icons/dist/icons-bootstrap.scss';

// Components
@import 'components/choices';
@import 'components/datepicker';

// Mixins
@import 'mixins/container';
@import 'mixins/function';
@import 'mixins/svg';

// Modules
@import 'modules/text';
@import 'modules/page';
@import 'modules/section';
@import 'modules/frame';
@import 'modules/navbar';
@import 'modules/modal';
@import 'modules/alert';
@import 'modules/dashboard';
@import 'modules/guide';
@import 'modules/pricing';
@import 'modules/aggregations';
@import 'modules/board';
@import 'modules/avatar';
@import 'modules/content';
@import 'modules/card';
@import 'modules/tab';
@import 'modules/form';
@import 'modules/datatable';
@import 'modules/dropdown';
@import 'modules/expander';
@import 'modules/header';
@import 'modules/listbox';
@import 'modules/icongroup';
@import 'modules/btn';
@import 'modules/list';
@import 'modules/list-group';
@import 'modules/message';
@import 'modules/yearview';
@import 'modules/accordion';
@import 'modules/fontawesome';
@import 'modules/syntax';
@import 'modules/progress';
@import 'modules/issue';
@import 'modules/review';
@import 'modules/status';
@import 'modules/badge';
@import 'modules/optionswitch';
@import 'modules/switchto';
@import 'modules/example';
