{% extends '@Template/layout.html.twig' %}

{% block sidebar %}
    <div class="position-sticky mb-5" style="top: 1rem;">
        {% frame %}
        {% set styleguideNavigation = {
            '_template_styleguide_component_accordion': 'Accordion',
            '_template_styleguide_component_aggregation': 'Aggregation',
            '_template_styleguide_component_alert': 'Alert',
            '_template_styleguide_component_badge': 'Badge',
            '_template_styleguide_component_button': 'Button',
            '_template_styleguide_component_card': 'Card',
            '_template_styleguide_component_dashboard': 'Dashboard',
            '_template_styleguide_component_datatable': 'DataTable',
            '_template_styleguide_component_dropdown': 'Dropdown',
            '_template_styleguide_component_form': 'Form',
            '_template_styleguide_component_frame': 'Frame',
            '_template_styleguide_component_guide': 'Guide',
            '_template_styleguide_component_issue': 'Issue',
            '_template_styleguide_component_optionswitch': 'Optionswitch',
            '_template_styleguide_component_pricing': 'Pricing',
            '_template_styleguide_component_progress': 'Progress',
            '_template_styleguide_component_review': 'Review',
            '_template_styleguide_component_status': 'Status',
            '_template_styleguide_component_text': 'Text',
            '_template_styleguide_component_pdf_gmbh': 'PDF GmbH',
            '_template_styleguide_component_pdf_assoc': 'PDF Assoc'
        } %}
        {% set currentRoute = app.request.attributes.get('_route') %}
        <div class="list-group">
            {% for route, label in styleguideNavigation %}
                <a href="{{ path(route) }}" class="list-group-item list-group-item-action{% if currentRoute == route %} active{% endif %}"{% if currentRoute == route %} aria-current="page"{% endif %}>{{ label }}</a>
            {% endfor %}
        </div>
        {% endframe %}
    </div>
{% endblock %}
