{% extends '@Template/styleguide/layout.html.twig' %}
{% block title %}Dropdown{% endblock %}

{% block body %}

    {% frame %}
        <h2>Dropdown</h2>
        {% example with { language: 'html' } %}
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="styleguideDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="styleguideDropdownButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        {% endexample %}
    {% endframe %}

{% endblock %}
