{% extends '@Template/styleguide/layout.html.twig' %}
{% block title %}Guide{% endblock %}

{% block body %}

    {% frame %}
        <div class="guide">
            {% for number in [1,2,3,4,5,6] %}
            <div class="guide-item" data-number="{{ number }}">
                <div class="guide-item-inner">
                    <div class="guide-item-content">
                        <h2>Lorem ipsum dolor sit amet {{ number }}</h2>
                        <p>Suspendisse potenti. Phasellus id nisi id massa eleifend dignissim sed sit amet nisl. Quisque cursus, leo in venenatis fringilla, enim orci condimentum dolor, ac dignissim libero dolor at erat. Donec volutpat, erat tempor pellentesque efficitur, felis lacus convallis odio, et malesuada risus elit id nibh. </p>
                    </div>
                    <div class="guide-item-content">
                        <p>Aliquam eget tempor ligula. Sed pharetra fringilla ligula quis vehicula. Pellentesque fringilla lectus in iaculis maximus. Sed sit amet hendrerit mi. Quisque erat arcu, aliquet sed fermentum nec, tempor pellentesque dui.</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endframe %}

{% endblock %}
