{% extends '@Template/styleguide/layout.html.twig' %}
{% block title %}Review{% endblock %}

{% block body %}

    {% frame %}
        <h2>Review</h2>
        {% for color in colors %}
            <div class="review review-full review-type-{{ color }}">
                <div class="review-header">
                    <div class="review-issue">#12345</div>
                    <div class="review-title"><a href="#">[{{ color|upper }}] Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
                </div>
                <div class="review-data">
                    <div class="review-data-item">
                        <span class="review-data-item-label">Topic</span>
                        <span class="review-data-item-value">no topic</span>
                    </div>
                    <div class="review-data-item">
                        <span class="review-data-item-label">Target Release</span>
                        <span class="review-data-item-value">
                            <span class="badge bg-success">master</span>
                            <span class="badge bg-danger">10.4</span>
                            <span class="badge bg-info">9.5</span>
                        </span>
                    </div>
                    <div class="review-data-item">
                        <span class="review-data-item-label">Affected Files</span>
                        <span class="review-data-item-value">6</span>
                    </div>
                    <div class="review-data-item">
                        <span class="review-data-item-label">Patchsets</span>
                        <span class="review-data-item-value">2</span>
                    </div>
                    <div class="review-data-item">
                        <span class="review-data-item-label">Created</span>
                        <span class="review-data-item-value">    <span data-processor="relativetime" data-value="2021-01-21T11:37:16+00:00">vor 1 Stunde</span></span>
                    </div>
                    <div class="review-data-item">
                        <span class="review-data-item-label">Updated</span>
                        <span class="review-data-item-value"><span data-processor="relativetime" data-value="2021-01-21T12:36:28+00:00">vor 27 Minuten</span></span>
                    </div>
                    <div class="review-data-item">
                        <span class="review-data-item-label">Reviews</span>
                        <span class="review-data-item-value"></span>
                    </div>
                    <div class="review-data-item">
                        <span class="review-data-item-label">Verifies</span>
                        <span class="review-data-item-value"></span>
                    </div>
                </div>
            </div>
        {% endfor %}


    {% endframe %}

    {% frame %}
        <h2>Review Cards on Board</h2>
        <p>Reviews can be used as cards inside a board column.</p>
        {% example with { language: 'html' } %}
            <div class="board">
                <div class="board-container">
                    <div class="board-column" id="column-unchecked">
                        <div class="board-column-header">
                            <h3 class="board-colum-header-headline"><strong>2</strong> Unchecked</h3>
                        </div>
                        <div class="board-column-content">
                            <div class="review review-card review-type-bugfix">
                                <div class="review-header">
                                    <div class="review-issue">#88541</div>
                                    <div class="review-title">
                                        <a href="https://review.typo3.org/c/Packages/TYPO3.CMS/+/88541/" target="_blank" rel="noopener noreferrer">[BUGFIX] Invoke correct 404 / 403 error action</a>
                                    </div>
                                </div>
                                <div class="review-data">
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Author</span>
                                        <span class="review-data-item-value">Sybille Peters</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Updated</span>
                                        <span class="review-data-item-value"><span data-processor="relativetime" data-value="2026-03-12T14:33:40+00:00">vor 1 Monat</span></span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Affected Files</span>
                                        <span class="review-data-item-value">5</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Patchsets</span>
                                        <span class="review-data-item-value">10</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Reviews</span>
                                        <span class="review-data-item-value"></span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Verifies</span>
                                        <span class="review-data-item-value"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="review review-card review-type-bugfix">
                                <div class="review-header">
                                    <div class="review-issue">#92672</div>
                                    <div class="review-title">
                                        <a href="https://review.typo3.org/c/Packages/TYPO3.CMS/+/92672/" target="_blank" rel="noopener noreferrer">[BUGFIX] Handle _TRANSLATION_SOURCE for usages of menu processors and translations</a>
                                    </div>
                                    <div class="review-branch">
                                        <span class="badge bg-danger">13.4</span>
                                    </div>
                                </div>
                                <div class="review-data">
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Author</span>
                                        <span class="review-data-item-value">Georg Ringer</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Updated</span>
                                        <span class="review-data-item-value"><span data-processor="relativetime" data-value="2026-04-21T15:06:40+00:00">vor 13 Tagen</span></span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Affected Files</span>
                                        <span class="review-data-item-value">2</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Patchsets</span>
                                        <span class="review-data-item-value">2</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Reviews</span>
                                        <span class="review-data-item-value"></span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Verifies</span>
                                        <span class="review-data-item-value"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="board-column" id="column-unchecked">
                        <div class="board-column-header">
                            <h3 class="board-colum-header-headline"><strong>2</strong> Unchecked</h3>
                        </div>
                        <div class="board-column-content">
                            <div class="review review-card review-type-bugfix">
                                <div class="review-header">
                                    <div class="review-issue">#88541</div>
                                    <div class="review-title">
                                        <a href="https://review.typo3.org/c/Packages/TYPO3.CMS/+/88541/" target="_blank" rel="noopener noreferrer">[BUGFIX] Invoke correct 404 / 403 error action</a>
                                    </div>
                                </div>
                                <div class="review-data">
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Author</span>
                                        <span class="review-data-item-value">Sybille Peters</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Updated</span>
                                        <span class="review-data-item-value"><span data-processor="relativetime" data-value="2026-03-12T14:33:40+00:00">vor 1 Monat</span></span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Affected Files</span>
                                        <span class="review-data-item-value">5</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Patchsets</span>
                                        <span class="review-data-item-value">10</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Reviews</span>
                                        <span class="review-data-item-value"></span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Verifies</span>
                                        <span class="review-data-item-value"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="review review-card review-type-bugfix">
                                <div class="review-header">
                                    <div class="review-issue">#92672</div>
                                    <div class="review-title">
                                        <a href="https://review.typo3.org/c/Packages/TYPO3.CMS/+/92672/" target="_blank" rel="noopener noreferrer">[BUGFIX] Handle _TRANSLATION_SOURCE for usages of menu processors and translations</a>
                                    </div>
                                    <div class="review-branch">
                                        <span class="badge bg-danger">13.4</span>
                                    </div>
                                </div>
                                <div class="review-data">
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Author</span>
                                        <span class="review-data-item-value">Georg Ringer</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Updated</span>
                                        <span class="review-data-item-value"><span data-processor="relativetime" data-value="2026-04-21T15:06:40+00:00">vor 13 Tagen</span></span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Affected Files</span>
                                        <span class="review-data-item-value">2</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Patchsets</span>
                                        <span class="review-data-item-value">2</span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Reviews</span>
                                        <span class="review-data-item-value"></span>
                                    </div>
                                    <div class="review-data-item">
                                        <span class="review-data-item-label">Verifies</span>
                                        <span class="review-data-item-value"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endexample %}
    {% endframe %}

{% endblock %}
