<div class="example">
    <div class="example-render">
        {{ content|raw }}
    </div>
    <div class="example-code">
        <pre><code class="language language-{{ language }}">{{ content|trim }}</code></pre>
    </div>
</div>
